.custom-button {
  position: absolute;
  width: 494px;
  height: 136px;
  left: 293px;
  top: 1479px;
  background: #FFFFFF;
  border-radius: 10px;

  .button-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 53px;
    line-height: 30px;
    text-align: center;
    color: #4464FC;
  }
}

.submit{
position: absolute;
width: 494px;
height: 136px;
left: 294px;
top: 1608px;
background: #FFFFFF;
border-radius: 10px;

.button-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 53px;
  line-height: 30px;
  text-align: center;
  color: #4464FC;
}
}