.form-input-label-firstName{
position: absolute;
width: 250px;
height: 162px;
left: 78px;
top: 765px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 162px;
/* identical to box height, or 352% */
color: #FFFFFF;
}
.form-input-firstName{
position: absolute;
width: 869px;
height: 104px;
left: 78px;
top: 887px;
background: rgba(255, 255, 255, 0.2);
}

.form-input-label-lastName{
position: absolute;
width: 250px;
height: 162px;
left: 78px;
top: 978px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 162px;
/* identical to box height, or 352% */
color: #FFFFFF;
}
.form-input-lastName{
position: absolute;
width: 869px;
height: 104px;
left: 78px;
top: 1100px;
background: rgba(255, 255, 255, 0.2);
}

.form-input-label-score{
position: absolute;
width: 116px;
height: 162px;
left: 78px;
top: 1186px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 162px;
/* identical to box height, or 352% */
color: #FFFFFF;
}
.form-input-score{
position: absolute;
width: 376px;
height: 193px;
left: 78px;
top: 1308px;
background: rgba(255, 255, 255, 0.2);
}