.form-input-label-firstName{
position: absolute;
width: 250px;
height: 162px;
left: 78px;
top: 765px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 162px;
/* identical to box height, or 352% */
color: #FFFFFF;
}
.form-input-firstName{
position: absolute;
width: 869px;
height: 104px;
left: 78px;
top: 887px;
background: rgba(255, 255, 255, 0.2);
border: none;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 162px;
color: #FFFFFF;
}
.form-input-firstName::placeholder{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 162px;
  /* identical to box height, or 352% */
  color: rgba(255, 255, 255, 0.4);
}

.form-input-label-lastName{
position: absolute;
width: 250px;
height: 162px;
left: 78px;
top: 978px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 162px;
/* identical to box height, or 352% */
color: #FFFFFF;
}
.form-input-lastName{
position: absolute;
width: 869px;
height: 104px;
left: 78px;
top: 1100px;
background: rgba(255, 255, 255, 0.2);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 162px;
color: #FFFFFF;
}
.form-input-lastName::placeholder{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 162px;
  /* identical to box height, or 352% */
  color: rgba(255, 255, 255, 0.4);
}

.form-input-label-score{
position: absolute;
width: 116px;
height: 162px;
left: 78px;
top: 1186px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 162px;
/* identical to box height, or 352% */
color: #FFFFFF;
}
.form-input-score{
position: absolute;
width: 376px;
height: 193px;
left: 78px;
top: 1308px;
background: rgba(255, 255, 255, 0.2);
border: none;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 128px;
line-height: 262px;
color: #FFFFFF;
}
.form-input-score::placeholder{
  position: absolute;
  width: 80px;
  height: 162px;
  left: 150px;
  top: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 128px;
  line-height: 262px;
  /* identical to box height, or 127% */
  color: rgba(255, 255, 255, 0.4);
}