.title-box{
  position: absolute;
  width: 688px;
  height: 405px;
  left: 78px;
  top: 300px;
  .custom-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 161px;
    line-height: 162px;
    color: #FFFFFF;
  }
}